<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewGuidence(新手引导).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63E542E21F5699EC000AEC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E542F61F5699EC000AEC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E543011F5699EC000AEC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
